USE [master]
GO
/****** Object:  Database [p4g5]    Script Date: 20/05/2026 15:37:01 ******/
CREATE DATABASE [p4g5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'p4g5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL_UA_BD\MSSQL\DATA\p4g5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'p4g5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL_UA_BD\MSSQL\DATA\p4g5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p4g5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [p4g5]
GO
/****** Object:  User [p4g5]    Script Date: 20/05/2026 15:37:02 ******/
CREATE USER [p4g5] FOR LOGIN [p4g5] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p4g5]
GO
/****** Object:  Table [dbo].[Credencial]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credencial](
	[id_token] [int] NOT NULL,
	[cargo_no_cartao] [varchar](255) NULL,
	[data_validade] [date] NULL,
	[id_participante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[id_evento] [int] NOT NULL,
	[nome] [varchar](255) NOT NULL,
	[data_inicio] [date] NOT NULL,
	[data_fim] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expositor]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expositor](
	[id_participante] [int] NOT NULL,
	[id_expositor] [varchar](50) NULL,
	[nome_empresa] [varchar](255) NULL,
	[id_stand] [int] NULL,
	[data_inicio_ocupacao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingresso]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingresso](
	[id_token] [int] NOT NULL,
	[preco_pago] [decimal](10, 2) NOT NULL,
	[data_validade] [date] NULL,
	[id_venda] [int] NOT NULL,
	[id_participante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamento]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamento](
	[id_pagamento] [int] NOT NULL,
	[metodo] [varchar](100) NOT NULL,
	[referencia] [varchar](255) NULL,
	[valor] [decimal](10, 2) NOT NULL,
	[id_venda] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participante]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[id_participante] [int] NOT NULL,
	[nif] [varchar](20) NOT NULL,
	[nome_completo] [varchar](255) NOT NULL,
	[telemovel] [varchar](20) NULL,
	[id_evento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permite]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permite](
	[id_tipo] [int] NOT NULL,
	[id_setor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC,
	[id_setor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ponto_de_Acesso]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ponto_de_Acesso](
	[id_ponto_de_acesso] [int] NOT NULL,
	[designacao] [varchar](255) NOT NULL,
	[sentido] [varchar](50) NULL,
	[id_setor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ponto_de_acesso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setor]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setor](
	[id_setor] [int] NOT NULL,
	[id_evento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_setor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stand]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stand](
	[id_stand] [int] NOT NULL,
	[area_m2] [decimal](10, 2) NOT NULL,
	[id_setor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_stand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_de_Acesso]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_de_Acesso](
	[id_tipo] [int] NOT NULL,
	[nome_perfil] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[id_token] [int] NOT NULL,
	[codigo_qr] [varchar](255) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[id_tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo_qr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizador]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizador](
	[id_utilizador] [int] NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_utilizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Validacao]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Validacao](
	[id_validacao] [int] NOT NULL,
	[codigo_lido] [varchar](255) NOT NULL,
	[data_hora] [timestamp] NOT NULL,
	[resultado] [varchar](50) NOT NULL,
	[id_ponto_de_acesso] [int] NOT NULL,
	[id_token] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_validacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[id_venda] [int] NOT NULL,
	[data_emissao] [date] NOT NULL,
	[valor_total] [decimal](10, 2) NOT NULL,
	[id_utilizador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitante]    Script Date: 20/05/2026 15:37:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitante](
	[id_participante] [int] NOT NULL,
	[profissao] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_participante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Credencial]  WITH CHECK ADD FOREIGN KEY([id_participante])
REFERENCES [dbo].[Participante] ([id_participante])
GO
ALTER TABLE [dbo].[Credencial]  WITH CHECK ADD FOREIGN KEY([id_token])
REFERENCES [dbo].[Token] ([id_token])
GO
ALTER TABLE [dbo].[Expositor]  WITH CHECK ADD FOREIGN KEY([id_participante])
REFERENCES [dbo].[Participante] ([id_participante])
GO
ALTER TABLE [dbo].[Expositor]  WITH CHECK ADD FOREIGN KEY([id_stand])
REFERENCES [dbo].[Stand] ([id_stand])
GO
ALTER TABLE [dbo].[Ingresso]  WITH CHECK ADD FOREIGN KEY([id_participante])
REFERENCES [dbo].[Participante] ([id_participante])
GO
ALTER TABLE [dbo].[Ingresso]  WITH CHECK ADD FOREIGN KEY([id_token])
REFERENCES [dbo].[Token] ([id_token])
GO
ALTER TABLE [dbo].[Ingresso]  WITH CHECK ADD FOREIGN KEY([id_venda])
REFERENCES [dbo].[Venda] ([id_venda])
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD FOREIGN KEY([id_venda])
REFERENCES [dbo].[Venda] ([id_venda])
GO
ALTER TABLE [dbo].[Participante]  WITH CHECK ADD FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[permite]  WITH CHECK ADD FOREIGN KEY([id_setor])
REFERENCES [dbo].[Setor] ([id_setor])
GO
ALTER TABLE [dbo].[permite]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo_de_Acesso] ([id_tipo])
GO
ALTER TABLE [dbo].[Ponto_de_Acesso]  WITH CHECK ADD FOREIGN KEY([id_setor])
REFERENCES [dbo].[Setor] ([id_setor])
GO
ALTER TABLE [dbo].[Setor]  WITH CHECK ADD FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[Stand]  WITH CHECK ADD FOREIGN KEY([id_setor])
REFERENCES [dbo].[Setor] ([id_setor])
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD FOREIGN KEY([id_tipo])
REFERENCES [dbo].[Tipo_de_Acesso] ([id_tipo])
GO
ALTER TABLE [dbo].[Validacao]  WITH CHECK ADD FOREIGN KEY([id_ponto_de_acesso])
REFERENCES [dbo].[Ponto_de_Acesso] ([id_ponto_de_acesso])
GO
ALTER TABLE [dbo].[Validacao]  WITH CHECK ADD FOREIGN KEY([id_token])
REFERENCES [dbo].[Token] ([id_token])
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD FOREIGN KEY([id_utilizador])
REFERENCES [dbo].[Utilizador] ([id_utilizador])
GO
ALTER TABLE [dbo].[Visitante]  WITH CHECK ADD FOREIGN KEY([id_participante])
REFERENCES [dbo].[Participante] ([id_participante])
GO
USE [master]
GO
